<section class="content">
    <!-- Default box -->
    <div class="card collapsed-box">
        <div class="card-header">
            <h3 class="card-title">Kế Hoạch Chế Biến Đang Dự Kiến</h3>

            <div class="card-tools">
                <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
                    <i class="fas fa-plus"></i>
                </button>
            </div>
        </div>
        <div class="card-body" style="display: none;">
            <div class="card-body">
                <table id="tableKHCBDK" class="table table-bordered table-striped table-hover">
                    <thead>
                        <tr>
                            @*<th class="text-center">
                                    <button type="submit" class="btn btn-secondary btn-sm" data-toggle="tooltip" data-placement="top"
                                            title="Tạo Kế Hoạch Đặt Hàng">
                                        <i class="fas fa-compress"></i>
                                    </button>
                                </th>*@
                            <th>Mã Số</th>
                            <th>Tên</th>
                            <th>Ngày Tạo</th>
                            <th>Người Tạo</th>
                            <th>Trạng Thái</th>
                            <th>Thao Tác</th>
                        </tr>
                    </thead>
                    <tbody id="CheBienDK">
                    </tbody>
                </table>
                <br />
            </div>
        </div>
    </div>
    <!-- /.card-body -->
    <!-- /.card -->
</section>
<!--Modal xem kế hoạch đủ hàng-->
<div class="modal fade bd-example-modal-lg" id="exampleViewKHDuHang" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Xem Kế Hoạch Chế Biến</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <!---->
            <div class="modal-body">
                <div class="form-row">
                    <input type="hidden" id="idKeHoachXemCB" />
                    <div class="form-group col-md-6">
                        <label>Mã Số:</label>
                        <span class="form-control" id="codeViewKHCB" style="border:none; border-bottom:1px solid #EEEEEE;">
                        </span>
                    </div>
                    <div class="form-group col-md-6">
                        <label>Tên Kế Hoạch:</label>
                        <span class="form-control" id="nameViewKHCB" style="border:none; border-bottom:1px solid #EEEEEE;">
                        </span>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label>Ngày Khởi Tạo:</label>
                        <span class="form-control" id="createDateViewKHCB" style="border:none; border-bottom:1px solid #EEEEEE;">
                        </span>
                    </div>
                    <div class="form-group col-md-6">
                        <label>Ngày Dự Kiến:</label>
                        <span class="form-control" id="dateDKViewKHCB" style="border:none; border-bottom:1px solid #EEEEEE;">
                        </span>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label>Người Tạo:</label>
                        <span class="form-control" id="nguoitaoViewKHCB" style="border:none; border-bottom:1px solid #EEEEEE;">
                        </span>
                    </div>
                    <div class="form-group col-md-6">
                        <label>Người Nhận:</label>
                        <span class="form-control" id="nguoinhanViewKHCB" style="border:none; border-bottom:1px solid #EEEEEE;">
                        </span>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label>Trạng Thái Kế Hoạch:</label>
                        <span class="form-control" id="trangthaiViewKHCB" style="border:none; border-bottom:1px solid #EEEEEE;">
                        </span>
                    </div>
                    <div class="form-group col-md-6">
                        <label>Trạng Thái Nhận:</label>
                        <span class="form-control" id="trangthaiNhanViewKHCB" style="border:none; border-bottom:1px solid #EEEEEE;">
                        </span>
                    </div>
                </div>
                <div class="form-group">
                    <label>Ghi Chú:</label>
                    <span class="form-control" id="ghichuViewKHCB" style="border:none; border-bottom:1px solid #EEEEEE;">
                    </span>
                </div>
                <div class="card-body">
                    <label>
                        Danh Sách Sản Phẩm Cần Chế Biến
                    </label>
                    <table id="tableShowViewKH12CB" class="table table-bordered table-striped table-hover table-responsive-xl">
                        <thead>
                            <tr>
                                <th>Mã Số</th>
                                <th>Tên Sản Phẩm</th>
                                <th>Mã Công Thức</th>
                                <th>Số Lượng</th>
                                <th>ĐVT</th>
                                <th>Trạng Thái</th>
                                <th>Ghi Chú</th>
                            </tr>
                        </thead>
                        <tbody id="ShowViewKH12CB">
                        </tbody>
                    </table>
                    <label style="float:right; margin-top: 20px;" id="TongTien"></label>
                </div>
            </div>
            <!---->
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
            </div>
        </div>
    </div>
</div>

<style>
    #modalThemKHDHChuaDu {
        overflow-y: scroll
    }
</style>
<!--Modal thêm kế hoạch đặt hàng-->
<div class="modal fade bd-example-modal-lg" id="modalThemKHDHChuaDu" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Tạo Kế Hoạch Đặt Hàng</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <!---->
            <form id="AddSaveKeHoachDH" method="post">

                <div class="modal-body">
                    <input type="hidden" id="IdKeHoachCheBienLuu" name="IdKeHoachCheBien" />
                    <input type="hidden" class="form-control" name="IdChiMuc" value="@ViewBag.ChiMuc">
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="inputEmail4">Mã Số</label>
                            <select id="CodeChon12" name="MaSo" class="form-control selectMater" required>
                            </select>
                        </div>
                        <div class="form-group col-md-6">
                            <label for="inputEmail4">Tên</label>
                            <input type="text" class="form-control" name="Ten" id="Name" placeholder="Tên kế hoạch" required>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputEmail4">Ngày Dự Kiến</label>
                        <input type="text" class="form-control" id="NgayKetThucDuKien" name="NgayDuKien" required>
                    </div>
                    <div class="form-group">
                        <label for="inputAddress">Ghi Chú</label>
                        <input type="text" class="form-control" name="GhiChu" id="Note" placeholder="Ghi chú">
                    </div>
                    <div class="form-group">
                        <label for="inputAddress">Giao Kế Hoạch</label>
                        <button type="button" class="form-control" onclick="GiaoViec()"
                                data-toggle="modal" data-target="#exampleGiaoViec"
                                id="IdResponsible">
                            <div id="ShowNVienGV"></div>
                        </button>
                        @{
                            var user = User.Identity.Name;
                        }
                        <input name="NguoiTao" value="@user" type="hidden" />
                        <input name="IdNguoiNhan" id="IdNguoiNhan" type="hidden" />
                    </div>

                    <div class="row" id="tableRow">
                        <div class="col-12">
                            <h5>Danh Sách Nguyên Vật Liệu</h5>
                        </div>
                        <input type="hidden" class="form-control" name="IdChiMuc" value="@ViewBag.ChiMuc">
                        <input name="NguoiTao" type="hidden" value="@User.Identity.Name" />
                        <table id="DeleteTableNVLcc" class="table table-bordered table-striped table-hover table-responsive-xl">
                        </table>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
                    <button type="submit" class="btn btn-primary" id="TaoPhieuBTN">Lưu Lại</button>
                </div>
            </form>
        </div>
    </div>
</div>
<script src="/ui/KeHoachDatHangController/KeHoachCheBienDuKien.js"></script>