<section class="content">
    <!-- Default box -->
    <div class="card collapsed-box">
        <div class="card-header">
            <h3 class="card-title">Kế Hoạch Chế Biến Đang Dự Kiến</h3>

            <div class="card-tools">
                <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
                    <i class="fas fa-plus"></i>
                </button>
            </div>
        </div>
        <div class="card-body" style="display: none;">
            <div class="card-body">
                <table id="tableKHCBDK" class="table table-bordered table-striped table-hover">
                    <thead>
                        <tr>
                            <th class="text-center">
                                <button type="submit" class="btn btn-secondary btn-sm" data-toggle="tooltip" data-placement="top"
                                        title="Tạo Kế Hoạch Đặt Hàng">
                                    <i class="fas fa-compress"></i>
                                </button>
                            </th>
                            <th>Mã Số</th>
                            <th>Tên</th>
                            <th>Ngày Dự Kiến</th>
                            <th>Người Tạo</th>
                            <th>Trạng Thái Nhận</th>
                        </tr>
                    </thead>
                    <tbody id="CheBienDK">
                   
                    </tbody>
                </table>
                <br />
            </div>
        </div>
    </div>
    <!-- /.card-body -->
    <!-- /.card -->
</section>

<script src="/ui/KeHoachDatHangController/KeHoachCheBienDuKien.js"></script>